body {
  font-family: 'Futura Md BT', sans-serif;
  background-color: #b8ffe0;
}

.header{
	padding: 15px;
	text-align: center;
	font-size: 35px;
}

.game{
	width: 80%;
	height: 100%;
	margin: 0 auto;
	display: flex;
  justify-content: space-evenly;
  padding: 10px 0; 
}

.door{
	height: 500px;
	width: 250px;
	position: relative;
	perspective: 1500px;
}

#ch_m{
	display: flex;
	text-align: center;
}

.buttons{
	width: 154px;
	border: 2px solid;
	text-align: center;
	align-items: center;
	flex-direction: row;
}

#reset{
	color: white;
	cursor: pointer;
	border: 2px solid whitesmoke;
	display: block;
	height: 50px;
	width: 150px;	
	display: flex;
	background-color: #968ad1;
	text-align: center;
	align-items: center;
	justify-content: center;
	position: relative;
	transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
	visibility: hidden;
}

#yes{
	color: white;
	cursor: pointer;
	border: 2px solid whitesmoke;
	display: block;
	height: 50px;
	width: 150px;	
	display: flex;
	background-color: #00ffb7;
	text-align: center;
	align-items: center;
	justify-content: center;
	position: relative;
	transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

#yes:hover, #no:hover, #reset:hover{
	color: #000 !important;
	background-color: transparent;
	text-shadow: none;
}

#yes:hover:before, #no:hover:before, #reset:hover:before{
	bottom: 0%;
	top: auto;
	height: 100%;
}

#yes:before, #no:before, #reset:before {
	display: block;
	position: absolute;
	left: 0px;
	top: 0px;
	height: 0px;
	width: 100%;
	z-index: -1;
	content: '';
	color: #000 !important;
	transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
#no:before {
	background: #de3535;
}
#yes:before{
	background: #15ff00;
}
#reset:before{
	background: #8f8f8f;
}
#no{
	color: white;
	cursor: pointer;
	border: 2px solid whitesmoke;
	display: flex;
	height: 50px;
	width: 150px;
	display: flex;
	background-color: #ff7d9d;
	text-align: center;
	align-items: center;
	justify-content: center;
	position: relative;
	transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.df, .bf{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
	transition: 1s;
	backface-visibility: hidden;
}

#d1f, #d2f, #d3f{
	background-color: limegreen;
	transform: rotateY(0deg);
	font-size: 50px;
}

#d1b, #d2b, #d3b{
	background-image: none;
	background-color: darkred;
	transform: rotateY(180deg);
}

#to_hide {
    visibility: hidden;
}

.car{
	height: 95%;
	width: 95%;
	border-radius: 20px;
}

.pictr{
	height: 95%;
	width: 95%;
	border-radius: 20px;
}

#stat1, #stat2, #stat3{
	font-size: 25px;
}
#win1, #win2, #win3{
	background-color: green;
	height: 30px;
	width: 50px;
	color: white;
	text-align: center;
	align-items: center;
}